################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bachelor.Enterprise.Common/bin/Debug
/Bachelor.Enterprise.Common/obj/Debug
/Bachelor.Entities/bin/Debug
/Bachelor.Entities/obj/Debug
/Bachelors.API/bin
/Bachelors.API/obj/Debug
/packages
/Bachelor.Core.Application/bin/Debug
/Bachelor.Core.Application/obj/Debug
/Bachelor.DataAccess/bin/Debug
/Bachelor.DataAccess/obj/Debug
/Bachelor.Core.Application/bin/Release
/Bachelor.Core.Application/obj/Release
/Bachelor.DataAccess/bin/Release
/Bachelor.DataAccess/obj/Release
/Bachelor.Enterprise.Common/bin/Release
/Bachelor.Enterprise.Common/obj/Release
/Bachelor.Entities/bin/Release
/Bachelor.Entities/obj/Release
/Bachelors.API/obj/Release
